	

/* — Typography — */

.socials {
	h2 {
		text-align: justify;
		font-size: 1.5rem;
		font-stretch: 80%;
		font-weight: 550;
		margin: 10vh 0;
		letter-spacing: 0.025rem;
		line-height: 1.05;
	}

	a {
		color: var(--secondary-color);
		text-decoration: underline;
		transition: text-decoration-color 0.075s ease;
	}

	a:hover {
		text-decoration-color: rgba(0, 0, 0, 0);
	}
}

.label {
	text-align: center;
	font-size: 1.225rem;
	font-stretch: 90%;
	font-weight: 450;
	letter-spacing: 0.0375rem;
	line-height: 1.05;
}

