

/* — Layout — */

main.development {
	padding: 5rem 2.5rem;

	img {
		flex: auto;
		max-width: 100%;
		height: auto;
		border-radius: 0.5rem;
	}

	section {
		margin-bottom: 5rem;

		div.grid {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 2.5rem;

			section {
				max-width: 20rem;
			}
		}
	}

	p {
		margin: 5vh 0;
	}
}

@media screen and (max-width: 730px) {
	main.development {
		padding: 2.5rem 1.5rem;
		
		section {
			margin-bottom: 2.5rem;
		}
	}
}


/* — Colors — */

main.development {
	img {
		border: 4px solid var(--secondary-color);
		filter: drop-shadow(0 0 0.5rem var(--secondary-color));
		transition: filter 1s ease;
	}

	img:hover {
		filter: drop-shadow(0 0 1.5rem var(--secondary-color));
	}
}


/* — Typography — */

main.development {
	h1 {
		margin-bottom: 4rem;
	}

	li {
		margin: 0.75rem 0;
	}
}