


/* ——— Reset ——— */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ——— Variables ——— */


/* — Colors — */

@media (prefers-color-scheme: light) {
  :root {
  --primary-color: #fbfbf1;
  --secondary-color: #04000f;
  --accent-color: #fbff00;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary-color: #04000f;
  --secondary-color: #fbfbf1;
  --accent-color: #fbff00;
  }
}


/* — Typography — */

:root {
	--primary-font: var(--font-amstelvar), Georgia, serif;
	--secondary-font: 'PitchWeb', Courier, monospace;
	--primary-size: calc(1rem + 0.5vw);
}

@media screen and (max-width: 730px) {
	:root {
		--primary-size: calc(1.5rem + 0.5vw);
	}
}



/* ——— Global styles ——— */

:root {
	font-family: var(--primary-font);
	font-size: var(--primary-size);
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}


/* — Layout — */

main {
	min-height: 125vh;
	padding: 7.5rem 3rem;
}

header {
	padding: 1.5rem 3rem;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1.75rem;

	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1rem;
	}
}

footer {
	padding: 1.5rem 3rem;

	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media screen and (max-width: 730px) {
	header {
		flex-direction: column;
		padding: 3rem 1.5rem;
		gap: 2.5rem;
	}

	main {
		padding: 5rem 1.5rem;
	}

	footer {
		padding: 1.5rem 1.5rem;
	}
}


/* — Colors — */

main {
	background: var(--primary-color);
	color: var(--secondary-color);
}

main::selection {
	background: var(--secondary-color);
	color: var(--primary-color);
}

header, footer {
	background: var(--secondary-color);
	color: var(--primary-color);
}

header::selection, footer::selection {
	background: var(--primary-color);
	color: var(--secondary-color);
}


/* Typography */

h1 {
	text-align: center;
	font-size: 3.125rem;
	font-stretch: 75%;
	font-weight: 450;
	margin: 5rem 0;
	line-height: 1.05;
}

h2 {
	text-align: center;
	font-size: 1.5rem;
	font-stretch: 80%;
	font-weight: 550;
	margin: 2.5rem 0;
	letter-spacing: 0.025rem;
	line-height: 1.05;
}

h3 {
	font-size: 1.25rem;
	font-stretch: 90%;
	font-weight: 500;
	letter-spacing: 0.025rem;
}

p {
	word-spacing: 0.05rem;
	letter-spacing: 0.05rem;
	line-height: 1.15;
}

header {
	a {
		font-size: 1rem;
		font-family: var(--secondary-font);
		color: var(--primary-color);
		text-decoration: underline;
		transition: text-decoration-color 0.075s ease;
	}

	a:hover {
		text-decoration-color: rgba(0, 0, 0, 0);
	}
}

footer {
	font-family: var(--secondary-font);

	h3 {
		font-size: 1rem;
	}

	a {
		color: var(--primary-color);
		text-decoration: underline;
		transition: text-decoration-color 0.075s ease;
	}

	a:hover {
		text-decoration-color: rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 730px) {
	h1 {
		font-size: 2.5rem;
		margin: 2.5rem 0;
	}
}