

/* — Layout — */

.home {
	min-height: 132.5vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}


/* — Typography — */

.home {
	h1 {
		text-align: justify;
		font-size: 3.125rem;
		font-stretch: 75%;
		font-weight: 450;
		margin: 15vh 0;
		line-height: 1.05;
	}

	h2 {
	text-align: center;
	font-size: 1.5rem;
	font-stretch: 80%;
	font-weight: 550;
	margin: 10vh 0;
	letter-spacing: 0.025rem;
	line-height: 1.05;
	}
}