

/* — Layout — */

.header {
	min-height: calc(1rem + 15vh);
	padding: calc(0.5rem + 1.5vh) 3rem;
	display: flex;
	align-items: center;

	h3 {
		text-align: center;
		font-size: 1.25rem;
		font-stretch: 90%;
		font-weight: 500;
	}
}


/* — Colors — */

.header {
	background: var(--secondary-color);
	color: var(--primary-color);
}

.header::selection {
	background: var(--primary-color);
	color: var(--secondary-color);
}


/* — Typography — */

.header h3 {
	text-align: center;
	font-size: 1.25rem;
	font-stretch: 90%;
	font-weight: 500;
	letter-spacing: 0.025rem;
}