{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<header>
    <h3>kuzminklk / socials</h3>
</header>
<main class='socials'>
    <h2><a target='_blank' href='https://www.instagram.com/kuzminklk/'>Instagram</a> — photos of me, of nature, of people</h2>
    <h2><a target='_blank' href='https://t.me/kuzminklk'>Telegram</a> — contact me; photos</h2>
    <h2><a target='_blank' href='https://github.com/kuzminklk'>GitHub</a> — projects</h2>
</main>
<footer>
    <h3><a href='/'>Home</a></h3>
    <h3><a href='/photography'>Photography</a></h3>
    <h3><a href='/development'>Development</a></h3>
    <h3><a href='/socials'>Socials</a></h3>
    <h3>©2025 Daniil Kuzmin</h3>
</footer>
{% endblock %}